.git
.github
.idea
.vscode
node_modules
vendor
opendesign
maintenance1
*.sql
.env
.env.*
!.env.example
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
_ide_helper.php
